@{ 
    string IsPageActive(string expectedTitle)
    {
        return ViewBag.Title == expectedTitle ? "active" : "";
    }
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @(IsPageActive("Claimed Hours"))" asp-area=@AreaName.Adoration asp-controller="Home" asp-action="Index">Claimed Hours</a></li>
    <li class="nav-item"><a class="nav-link @(IsPageActive("Available Hours"))" asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Index">Available Hours</a></li>
    <li class="nav-item"><a class="nav-link @(IsPageActive("Sub Requests"))" asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Index">Sub Requests</a></li>
</ul>
