@model ParishManager.Areas.SubstitutionRequest.Models.Home.SubstitutionRequestCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SubstitutionRequestCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area=@AreaName.SubstitutionRequest asp-controller="Home" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TimeSlotId" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="DateOfSubstitution" class="control-label"></label>
                <select asp-for="DateOfSubstitution" asp-items="Model.UpcomingDates"></select>
                <span asp-validation-for="DateOfSubstitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
